body .content {
    position: relative;
    opacity: 1;
    top: 0px;
    animation: contentshow 0.5s ease-in-out 0s;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 35px 5px 35px 5px;
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes contentshow {
    0% {
        opacity: 0;
        top: 30px;
    }
}